:root{
    font-size: 16px;
    box-sizing: border-box;
    --color-cajero: #0aac38;
    --color-cajero-campos: #e2fbea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

html, body, main{
    height: 100%;
}

body{
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
}

input[type='number']{
    width: 80px;
} 

.sec-principal {
    display: flex;
    justify-content: center;
    width: 100%;
}


.principal{
    display: block;
    width: 20rem;
    background-color: var(--color-cajero);
    border: 10px solid;
    border-radius: 2rem;    
    padding-bottom: 1rem;
}

.principal-cuenta-contrasena{
    border: 0.3rem solid;
    border-radius: 1rem;    
    background-color: var(--color-cajero-campos);
    margin: 1rem;
    padding: 1rem;

}

.principal-autenticado{
    background-color: var(--color-cajero);
    border: 10px solid;
    border-radius: 2rem;
    padding-bottom: 1rem;
}

.logo-banco{
    display: flex;
    justify-content: center;
}

.logo-banco path{
    width: 30%;
}

.principal-autenticado-bienvenido{
    width: 67%;
    padding: 2rem;
    border: 0.35rem solid;
    border-radius: 1rem;
    margin: 1rem;
    background-color: var(--color-cajero-campos);
}

.principal-autenticado-bienvenido-consultar{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 3px;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.4rem;
}

.principal-autenticado-bienvenido-consultar-texto{
    display: none;
    border: solid 3px ;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.8rem;
    background-color: var(--color-cajero-campos);
}

.principal-autenticado-bienvenido-consultar-boton{
    display: flex;
    border: solid 3px ;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.8rem;
    justify-content: center;
}

.principal-autenticado-bienvenido-consultar-texto-descripcion{
    width:50%;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

#saldoconsultado{
    font-weight: bold;
}

.principal-autenticado-bienvenido-ingresarmonto{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 3px;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.4rem;
}

.principal-autenticado-bienvenido-ingresarmonto-texto{
    display: flex;
    border-radius: 1rem;
    margin: 0.4rem;
    padding: 0.2rem;
}

.principal-autenticado-bienvenido-ingresarmonto-descripcion{
    width: 50%;
}

.principal-autenticado-bienvenido-ingresarmonto-entrada{
    width: 50%;
    display: flex;
    justify-content: center;
}

.principal-autenticado-bienvenido-ingresarmonto-boton{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin: 0.4rem;

}

.principal-autenticado-bienvenido-retirarmonto{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 3px;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.4rem;
}


.principal-autenticado-bienvenido-retirarmonto-texto{
    display: flex;
    border-radius: 1rem;
    margin: 0.4rem;
    padding: 0.2rem;
}

.principal-autenticado-bienvenido-retirarmonto-descripcion{
    width: 50%;
}

.principal-autenticado-bienvenido-retirarmonto-entrada{
    width: 50%;
    display: flex;
    justify-content: center;
}

.principal-autenticado-bienvenido-retirarmonto-boton{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin: 0.4rem;
}

.principal-cuenta{
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}

.principal-cuenta-descripcion{
    display: flex;
    width: 40%;
}

.principal-cuenta-campo{
    display: flex;
    width: 40%;
}

.principal-contrasena{
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}

.principal-contrasena-descripcion{
    display: flex;
    width: 40%;
}

.principal-contrasena-campo{
    display: flex;
    width: 40%;
}

.principal-contrasena-campo input{
    width: 80px;
}

.principal-boton{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.principal-autenticado{
    display: none;
    width: 20rem;
}

.principal-autenticado-bienvenido{
    display: flex;
}

.principal-autenticado-bienvenido-descripcion{
    width: 10rem;
}

.nombreautenticado{
    font-style: oblique;
    font-weight: bold;
}

.principal-autenticado-bienvenido-consultar{
    display: flex;
}


.salir{
    display: flex;
    justify-content: center;
    width: 100%;
}